@media screen and (min-width:2000px)
{
#speakers_header {
    display:block;
    text-align:center;
    font-size:2.4em;
    margin-top:100px;
    margin-bottom:100px;
    }

#speakers {
    display:none;
    font-size:1.5em;
    margin-top:50px;
    margin-bottom:50px;
    }

#vendors_header {
    display:block;
    text-align:center;
    font-size:2.4em;
    margin-top:100px;
    margin-bottom:100px;
    }

#vendors {
    display:none;
    font-size:1.5em;
    margin-top:50px;
    margin-bottom:50px;
    }
    
#register_header {
    display:block;
    text-align:center;
    font-size:2.4em;
    margin-top:100px;
    margin-bottom:100px;
    }

#register {
    display:none;
    font-size:1.5em;
    margin-top:50px;
    margin-bottom:50px;
    }
#gen_info_header {
    display:block;
    text-align:center;
    font-size:2.4em;
    margin-top:100px;
    margin-bottom:100px;
    }

#gen_info {
    display:none;
    font-size:1.5em;
    margin-top:50px;
    margin-bottom:50px;
    }
    
#convention_bubbles {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    height:100%;
    width:65vw;
    margin-top:50px;
    margin-bottom:50px;
    }
}

@media screen and (max-width:2000px)
{
#speakers_header {
    display:block;
    text-align:center;
    font-size:1.4em;
    margin-top:60px;
    margin-bottom:50px;
    }

#speakers {
    display:none;
    font-size:.9em;
    margin-top:25px;
    margin-bottom:25px;
    }

#vendors_header {
    display:block;
    text-align:center;
    font-size:1.4em;
    margin-top:60px;
    margin-bottom:50px;
    }

#vendors {
    display:none;
    font-size:.9em;
    margin-top:25px;
    margin-bottom:25px;
    }
    
#register_header {
    display:block;
    text-align:center;
    font-size:1.4em;
    margin-top:60px;
    margin-bottom:50px;
    }

#register {
    display:none;
    font-size:.9em;
    margin-top:25px;
    margin-bottom:25px;
    }
#gen_info_header {
    display:block;
    text-align:center;
    font-size:1.4em;
    margin-top:60px;
    margin-bottom:50px;
    }

#gen_info {
    display:none;
    font-size:.9em;
    margin-top:25px;
    margin-bottom:25px;
    }
    
#convention_bubbles {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    height:100%;
    width:65vw;
    margin-top:250px;
    margin-bottom:250px;
    }
}

@media screen and (max-width:1200px)
{
#speakers_header {
    display:block;
    text-align:center;
    font-size:1.4em;
    margin-top:60px;
    margin-bottom:50px;
    }

#speakers {
    display:none;
    font-size:.9em;
    margin-top:25px;
    margin-bottom:25px;
    }

#vendors_header {
    display:block;
    text-align:center;
    font-size:1.4em;
    margin-top:60px;
    margin-bottom:50px;
    }

#vendors {
    display:none;
    font-size:.9em;
    margin-top:25px;
    margin-bottom:25px;
    }
    
#register_header {
    display:block;
    text-align:center;
    font-size:1.4em;
    margin-top:60px;
    margin-bottom:50px;
    }

#register {
    display:none;
    font-size:.9em;
    margin-top:25px;
    margin-bottom:25px;
    }
#gen_info_header {
    display:block;
    text-align:center;
    font-size:1.4em;
    margin-top:60px;
    margin-bottom:50px;
    }

#gen_info {
    display:none;
    font-size:.9em;
    margin-top:25px;
    margin-bottom:25px;
    }
    
#convention_bubbles {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    height:100%;
    width:65vw;
    margin-top:50px;
    margin-bottom:50px;
    }
}

