 .speaker_block {
    display:block;
    height:200px;
    width:200px;
    margin-top:25px;
    padding:50px;
    margin-right:12.5px;
    margin-left:12.5px;
    text-align:left;
    background-color:rgba(242, 245, 247,.85);
    color:#000000;
    transition:background .5s;
    -webkit-transform:background .5s;
    }
    
.speaker_block:hover {
    background-color:#0E6BA8;
    color:#F2F5F7;
}