#group_list {
    font-size:1em;
    list-style-type:none;
    }
#group_list dt {
    color:#0E6BA8;
    font-weight:bold;
    font-size:1.2em;
    }

#group_list li a:hover {
    color:#0E6BA8;
    }

#group_para {
    padding:15px;
}
    
.group_info {
    display:block;
    height:60%;
    width:600px;
    background-color:rgba(242, 245, 247,.85);
    padding:50px;
    overflow:scroll;
    margin:50px;
    }

#group_des {
    display:block;
    font-size:1.2em;
    width:600px;
    padding:10px;
    position:relative;
    right:0;
    top:50px;
    }

#group_des h1 {
    font-size:2em;
    text-align:center;
    font-weight:bold;
}